section#input {
  height: 100%;
}

section#input h1 {
  height: 5rem;
  font-size: 4rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

section#input form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 10rem);
}

section#input form textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 2rem;
  font-family: inherit;    
  font-weight: 500;
  padding: 1rem;
  resize: none;
}

section#input form textarea::placeholder {
  color: var(--primary-color);
}

section#input div {
  font-size: 1.4rem;
}

section#input span {
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--basic-color);
  
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: .5rem;
}

@media (min-width:864px) {
  section#input h1 {
    font-size: 8rem;
  }
  section#input {
    flex: 2;
    position: relative;
  }

  section#input form {
    margin-top: 5rem;
    width: 500px;
    justify-self: right;
    right: 5rem;
    position: absolute;
    height: calc(100% - 20rem);
  }
}

@media (min-width:1024px) { section#input form { width: 65rem; } }

@media (min-width:1260px) { section#input form { width: 80rem; } }